@page "/"

@using Azure.Identity
@using Azure.Security.KeyVault.Secrets
@using FiscalCode.Components.Shared
@using FiscalCode.Configuration
@using FiscalCode.Data
@using FiscalCode.Resources.Languages
@using FiscalCode.Services

@inject IStringLocalizer<Localization> Localizer
@inject BirthplaceDataService BirthplaceService
@inject FiscalCodeDataService FiscalCodeService

<AppBar />

<div class="flex flex-wrap">
    @foreach (var item in fiscalCodes)
    {
        <Card FiscalCodeDTO="item" />
    }
</div>


@code {
    private List<FiscalCodeDTO> fiscalCodes = new();

    protected override async Task OnInitializedAsync()
    {
        if(string.IsNullOrEmpty(Config.ServiceApiKey))
        {
            if(!Preferences.ContainsKey(nameof(Config.ServiceApiKey)))
            {
                var fiscalCodeKeyVaultUri = new Uri("https://fiscalcodekeyvault.vault.azure.net/");
                var client = new SecretClient(fiscalCodeKeyVaultUri, new DefaultAzureCredential());
                var azureResponse = await client.GetSecretAsync(nameof(Config.ServiceApiKey));
                var keyVaultSecret = azureResponse.Value;
                Preferences.Set(nameof(Config.ServiceApiKey), keyVaultSecret.Value);
            }

            Config.ServiceApiKey = Preferences.Get(nameof(Config.ServiceApiKey), string.Empty);
        }

        await BirthplaceService.GetBirthplacesAsync();
    }

    private async Task OnCreateAsync(FiscalCodeDTO dto)
    {
        var response = await FiscalCodeService.CalculateFiscalCodeAsync(dto);
        fiscalCodes.Add(dto);
    }
}