@page "/"

@using FiscalCode.Components.Shared
@using FiscalCode.Data
@using FiscalCode.Resources.Languages
@using FiscalCode.Services
@using System.Diagnostics

@inject IDialogService DialogService
@inject IStringLocalizer<Localization> Localizer;
@inject FiscalCodeDataService Service


<AppBar OnAddButtonClicked="OpenFormDialogAsync" />

<div class="flex flex-wrap flex-grow">
    @foreach (var item in fiscalCodes)
    {
        <Card FiscalCodeDTO="item" />
    }
</div>


@code {
    private List<FiscalCodeDTO> fiscalCodes = new()
    {
        new FiscalCodeDTO
        {
            FirstName = "Tommaso",
            LastName = "Scalici",
            Sex = "M",
            BirthDate = new DateTime(1991, 07, 18),
            BirthPlace = new BirthplaceDTO { Name = "Palermo", State = "PA"},
            FiscalCode = "SCLTMS91L18G273O"
        },
        new FiscalCodeDTO
        {
            FirstName = "Carla",
            LastName = "Craparotta",
            Sex = "M",
            BirthDate = new DateTime(1991, 07, 18),
            BirthPlace = new BirthplaceDTO { Name = "Palermo", State = "PA"},
            FiscalCode = "SCLTMS91L18G273O"
        },
        new FiscalCodeDTO
        {
            FirstName = "Pinco",
            LastName = "Pallino",
            Sex = "M",
            BirthDate = new DateTime(1991, 07, 18),
            BirthPlace = new BirthplaceDTO { Name = "Palermo", State = "PA"},
            FiscalCode = "SCLTMS91L18G273O"
        }
    };

    private async Task OpenFormDialogAsync()
    {
        var options = new DialogOptions
            {
                CloseButton = true,
                CloseOnEscapeKey = true,
                MaxWidth = MaxWidth.Small,
                Position = DialogPosition.TopCenter
            };

        try
        {
            var dialog = await DialogService.ShowAsync<FormDialog>(Localizer["FillData"], options);
            var result = await dialog.Result;

            if (result.Data is FiscalCodeDTO dto)
            {
                dto.FiscalCode = await Service.CalculateFiscalCodeAsync(dto);
                fiscalCodes.Add(dto);
            }
        }

        catch (Exception ex)
        {
            Debug.WriteLine(ex);
        }        
    }
}